body { 
	margin:0;
	padding:0 0 150px 0;
	background-color:#fff;
	font-size:16px;
	text-align: justify;
}
a{color:black;text-decoration: none;}
a:hover{color:#E8A723; text-decoration: none;}
a:active{color:#E8A723; text-decoration: none;}
a:visited{color:black; text-decoration: none;}

.wrap{
	background-color: #Fff;
	margin-left:50px;
	padding:0 0px;
}
/* breaking point */
@media(max-width:1200px) {
	.wrap{
		padding:0 0px;
	}
}
#firstdiv{
	margin-top:120px;
}
.img-responsive{
	border:1px solid white;
	position: relative;
	z-index: 00;
}
.navbar, .navbar-nav {
	background-color:#ffcc00 !important;
	border:0;
	padding:0;
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
  	text-align: center;
  	text-transform: uppercase;
}
.navbar-nav > li > a{
	padding:15px;
}
.navbar .navbar-nav>.active>a, .navbar.navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus{
	background-color: #fff;
	color:black;
	text-transform: uppercase;

}
.navbar-default .navbar-nav>li>a{
	color:#444;
	  	height: 20px !important;
}

#graph-wrapper {
	display: block;
	height: 550px;
	z-index: 9;
	margin: 0;
	pointer-events: none;
}

#program {
	height: 600px;
	margin: 0;
	margin-bottom: 122px;
	background: white;
}
#program .program-bar {
	height: 100%;
	width: 4px;
	background: white;
	border-right: solid 1px #DDD;
	float: left;
}

#program .program-bar:hover {
	border-right: solid 1px black;
	cursor: pointer;
}

#program .program-months {
	height: 48px;
	overflow: visible;
	clear: both;
	position: relative;
	background: white;
}

#program .program-months div {
	float: left;
	width: 16.66%;
	height: 48px;
	padding-top: 12px;
	text-align: center;
	border: 1px solid black;
	border-left: none;
}
#program .program-months .program-months-september {
	border-right: none;
}

#program .program-event {
	top: -3px;
	position: absolute;
	width: 8px;
	height: 8px;
	display: block;
	border-radius: 4px;
	background: red;
	z-index: 8;
}
#program .program-event-data {
	height: 74px;
	background: white;	
}
#program .program-event-data section {
	display: inline-block;
	position: relative;
	width: 160px;
}
#program .program-event-data h1 {
	font-size: 16px;
}
#program .program-event-data p {
	font-size: 12px;
}

.title{
	text-align: center;
	text-transform: uppercase;
	font-size:28px;
	padding-top:20px;
	margin-top:50px;
}
.fullbar{
	background-color:;
	padding:20px 0;
	margin-bottom:20px;
}
#left{
	background-color: ;
}
#right{
	background-color: ;
}
#left p, #right p{
	margin-top:20px;
}
.quote{
	display:block;
	font-size:14px;
	letter-spacing: 1;
	padding:0 20px;
}
button .btn, .btn{
	background-color: #EEEEEE !important;
	border-bottom: 1px solid blue;
	border-radius: 0 !important;
	margin:20px 0;
}
.subtitle{
	text-transform: uppercase;
	text-align: center !important;
}
.panel{
	background-color: #EEEEEE !important;
	border-bottom: 1px solid #
	border-radius: 0 !important;
}
.panel-heading{
	
}
.panel-collapse .panel-body{
	border-top:1px solid blue !important;
	background-color: #EEEEEE;
	
}

