body { 
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: arial, sans-serif;
	letter-spacing: 0.05em;
	font-size:1.5em;	
	text-align: left;
}
a{color:black;}
a:hover{color:blue;}
a:visited{color:black;}
#wrap{
	margin-left:50px;

}
/* breaking point */
@media(max-width:1200px) {
	#wrap{
		margin-left:20px;
	}
}
.row{
	margin-top:25px;
}
.firstrow{
	margin-top:0px;
	padding:20px 0 0 0;

}

/* I M A G E S */
.img-responsive{
	position: relative;
	z-index: 0;
}
.picture img {
	width:85%;
	margin-bottom:40px;
}


/* T E X T  S T Y L E S */
.introtxt{
	margin-top:70px;
	font-size:1.2em;
}
.txt{

}
h2{
	margin-top:120px; 
	font-size:2em; 
	color:#333; 
	text-align:center;
	position: relative;
	z-index:999;
}
.quote{
	display:block;
	font-size:0.8em;
	letter-spacing: 1;
	padding:0 20px;
	margin-bottom:-7px;
}
.bigquote{
	font-size:1.2em;
	text-align:center;
	position:relative; 
	z-index:999;
}
/* T I T L E S */
#pagetitle img{
	height:5em; 
	margin-top:500px; /*percentage? of variable in samenhang met de grafiek?*/
	z-index:999;
}
.subtitle{
	margin:0 0 25px 0;
	font-size:50px;
	text-transform: uppercase;
}
.subtitle img{
	height: 0.8em;
}
.name{
	font-size:1.5em;
	text-transform: uppercase;
	margin-bottom:15px;
}
.backhome{
	background-color: transparent;
}

/* N A V I G A T I O N */
.navbar, .navbar-nav {
	background-color:#ffcc00 !important;
	border:0;
	padding:0;
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
  	text-align: center;
  	text-transform: uppercase;
}
.navbar .navbar-nav>.active>a, .navbar.navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus{
	background-color: #fff;
	color:black;
}

/* B U T T O N S */
button .btn, .btn{
	background-color: #ccc !important;
	border-bottom: 1px solid #000;
	border-radius: 0 !important;
	letter-spacing: 0.05em;
	float: left;
	display: inline-block;
}

/* P A N E L  S T Y L E S */
.panel{
	background-color: #ffcc00 !important;
	border-bottom: 1px solid black;
	border-radius: 0 !important;

}
.panel-heading{

}
.panel-title{
	font-size:1em;
}
.panel-collapse .panel-body{
	border-top:1px solid black !important;
	background-color: #ccc;
}