body { 
	margin:0;
	padding: 50px 25px 25px 25px;
	background-color: #000;
	/*font-family: monospace;*/
	font-family: 'Karla', sans-serif;
	/*font-family: 'Puritan', sans-serif;*/
	/*font-family: 'Inconsolata';*/	
	font-size:16px;
	text-align: justify;
}
.wrap{
	background-color: #fff;
	padding:0 200px;
}
/* breaking point */
@media(max-width:1200px) {
	.wrap{
		padding:0 80px;
	}
}
.row{
	
}
.navbar-inverse .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar-inverse .navbar-collapse {
  	text-align: center;
}

#graph-wrapper {
	display: block;
	height: 550px;
	z-index: 9;
	margin: 0;
	pointer-events: none;
}

#program {
	height: 600px;
	margin: 0;
	margin-bottom: 122px;
	background: white;
}
#program .program-bar {
	height: 100%;
	width: 4px;
	background: white;
	border-right: solid 1px #DDD;
	float: left;
}

#program .program-bar:hover {
	border-right: solid 1px black;
	cursor: pointer;
}

#program .program-months {
	height: 48px;
	overflow: visible;
	clear: both;
	position: relative;
	background: white;
}

#program .program-months div {
	float: left;
	width: 16.66%;
	height: 48px;
	padding-top: 12px;
	text-align: center;
	border: 1px solid black;
	border-left: none;
}
#program .program-months .program-months-september {
	border-right: none;
}

#program .program-event {
	top: -3px;
	position: absolute;
	width: 8px;
	height: 8px;
	display: block;
	border-radius: 4px;
	background: red;
	z-index: 8;
}
#program .program-event-data {
	height: 74px;
	background: white;	
}
#program .program-event-data section {
	display: inline-block;
	position: relative;
	width: 160px;
}
#program .program-event-data h1 {
	font-size: 16px;
}
#program .program-event-data p {
	font-size: 12px;
}

.title{
	text-align: center;
	text-transform: uppercase;
	font-size:28px;
	padding-top:20px;
	margin-top:50px;
}
.fullbar{
	background-color:;
	padding:20px 0;
	margin-bottom:20px;
}
<<<<<<< HEAD
=======
.col-lg-12 .fulltext{
	text-align: justify;
	margin:0 200px 100px 200px;
}
.col-sm-12 .fulltext p{
	
	margin:0 25px;
}
>>>>>>> css_V1
#left{
	background-color: ;
}
#right{
	background-color: ;
}
#left p, #right p{
	margin-top:20px;
}
.quote{
	display:block;
	font-size:14px;
	letter-spacing: 1;
	padding:0 20px;
}
.jumbotron{
	background-image: url("../img/kaart.jpg");
	background-size: cover;
	height:400px;
	margin:0;
}
button .btn, .btn{
	background-color: #EEEEEE !important;
	border-bottom: 1px solid blue;
	border-radius: 0 !important;
	margin:20px 0;
}
.panel{
	background-color: #EEEEEE !important;
	border-bottom: 1px solid blue;
	border-radius: 0 !important;
}
.panel-heading{
	
}
.panel-collapse .panel-body{
	border-top:1px solid blue !important;
	background-color: #EEEEEE;
	
}
